/* Imports */
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

/* TAG Styling*/
body {
	font-family: 'Roboto', sans-serif;
}
section {
	margin-top: 80px;
	margin-bottom: 50px;
}

footer {
    position: fixed;
    border-top: 2px solid #000;
    background-color: #fff;
    padding: 25px;
    width: 100%;
    bottom: 0;
    font-weight: bold;
}

/* ID Styling */


/* Class Styling*/


/* Bootstrap Edits */
span.icon-bar {
	background-color: #000;
}

.navbar-toggle .icon-bar {
    display: block;
    width: 50px;
    height: 8px;
    border-radius: 1px;
}

.navbar-toggle .icon-bar+.icon-bar {
    margin-top: 8px;
}

.navbar {
	min-height: 80px;
	margin-bottom: 0;
	border-radius: 0;
	border-bottom: 2px solid #000;
	background-color: #fff;
	color: #000;
	font-weight: bold;
}

.navbar a {
	color: #000;
}

.navbar-brand {
	height: 78px;
    padding: 0px;
}

@media screen and (min-width: 767px) {
	.nav>li>a {
	    position: relative;
	    display: block;
    	padding: 29px 33px;
	}
}

@media screen and (min-width: 907px) {
	.nav>li>a {
	    position: relative;
	    display: block;
        padding: 29px 44px;
	}
}

@media screen and (min-width: 1000px) {
	.nav>li>a {
	    position: relative;
	    display: block;
    	padding: 29px 52px;
	}
}

@media screen and (min-width: 1089px) {
	.nav>li>a {
	    position: relative;
	    display: block;
	    padding: 29px 60px;
	}
}
